.table {
  margin-top: 1.6rem;
  width: 100%;
  background: var(--backgrounds-secondary);
  font-size: 1.6rem;
  border-collapse: collapse;
  align-self: flex-start;
  table-layout: fixed;
  flex: 1 1 68%;
}

.head td {
  background: var(--general-color-1);
  color: var(--font-color-2);
  font-weight: 400;
  padding: 2rem 1rem;
}

.client {
  width: 30rem;
}

.rate {
  width: 8rem;
}

@media (max-width: 1000px) {
  .table {
    font-size: 1.2rem;
  }
}
