.row {
  border-bottom: 1px solid #1864ab;
}

.row td {
  padding: 1rem;
}

.flex-td {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-complete {
  cursor: pointer;
  background: #1864ab;
  border: none;
  color: #fff;
  font-weight: 700;
}

.btn-complete:hover {
  filter: brightness(120%);
}

@media (max-width: 500px) {
  .row td {
    padding: 1rem 0;
  }
}
