.table {
  width: 100%;
  padding: 0 1rem;
  background: #e9ecef;
  font-size: 1.6rem;
  border-collapse: collapse;
  align-self: flex-start;
  table-layout: fixed;
  flex: 1 1 68%;
}

.head td {
  background: #0b7285;
  color: #fff;
  font-weight: 700;
  padding: 2rem 1rem;
}

@media (max-width: 1000px) {
  .table {
    font-size: 1.2rem;
  }
}
