.body {
  margin: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}

.header {
  background-color: #228be6;
  padding: 1rem 2rem;
}

@media (max-width: 900px) {
  .body {
    flex-wrap: wrap;
    gap: 2rem;
  }
}
