/* main */
.userHead {
  flex: 1 1 30%;
}
.userInfo {
  flex: 1 1 70%;
}

/* form */

.form {
  background: var(--backgrounds-secondary);
  padding: 3rem;
}

.form input,
.form select {
  border: none;
  background: transparent;
  border-bottom: 1px solid var(--general-color-1);
}

.personal {
  margin-bottom: 3rem;
  border-bottom: 1px solid #022f40;
}

.personal label {
  font-size: 1.4rem;
  margin-right: 1rem;
}

.personal select {
  font: inherit;
  font-size: 1.4rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.businessData {
  display: flex;
  gap: 2rem;
}

.business label {
  font-size: 1.4rem;
  font-weight: 500;
}

.business input {
  font: inherit;
  font-size: 1.4rem;
  height: 3rem;

  padding: 1rem;
  display: block;
  margin-bottom: 2rem;
  margin-right: 2rem;
  width: 100%;
}

.formGroup {
  width: 100%;
}

.actions {
  display: flex;
  gap: 2rem;
}

.userInfo {
  font-size: 1.6rem;
}
