.personal {
  padding: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #022f40;
}

.personal label {
  font-size: 1.4rem;
  margin-right: 1rem;
}

.personal select {
  font: inherit;
  font-size: 1.4rem;
  padding: 0.5rem;
}

.businessData {
  display: flex;
  gap: 2rem;
}

.business label {
  font-size: 1.4rem;
}

.business input {
  font: inherit;
  font-size: 1.4rem;
  height: 3rem;
  padding: 1rem;
  display: block;
  margin-bottom: 2rem;
  margin-right: 2rem;
  width: 100%;
}

.actions {
  display: flex;
  gap: 2rem;
}

.userInfo {
  font-size: 1.6rem;
}
