.table {
  width: 100%;
  padding: 0 1rem;
  background: #e9ecef;
  font-size: 1.6rem;
  /* border-collapse: collapse; */
  border-collapse: collapse;
  align-self: flex-start;
}

.head td {
  background: #0b7285;
  color: #fff;
  font-weight: 700;
  padding: 2rem 1rem;
}
