.form {
  background-color: rgba(56, 174, 204, 0.1);
  padding: 1rem;

  flex: 1 1 40rem;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.controls,
.controls-flex {
  margin-bottom: 2rem;
}

.controls-flex {
  display: flex;
  gap: 1rem;
}

.controls-flex * {
  flex: 1 1 100%;
}

.message {
  font-size: 1.5rem;
}

.form input,
.form label,
.form select {
  font: inherit;
  font-size: 1.6rem;
}

.form label {
  display: block;
  font-weight: 600;
}

.form input,
.form select {
  height: 4rem;
  width: 100%;
}

.form textarea {
  width: 100%;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 1rem;
  width: 100%;
  background-color: #fff;
  color: #000;
  border: 1px solid #022f40;
  font-weight: 600;
  transition: all 0.2s;
}

.btn:hover {
  color: #fff;
  background-color: #022f40;
}
