.form {
  background: var(--backgrounds-secondary-shade);
  padding: 1rem;
  margin-left: 5rem;

  flex: 1 1 20rem;
}

.form input,
.form select,
.form textarea {
  border: none;
  background: transparent;
  border-bottom: 1px solid var(--general-color-1);
}

.title {
  font-size: 1.6rem;
  font-weight: 500;
}

.controls,
.controls-flex {
  margin-bottom: 2rem;
}

.controls-flex {
  display: flex;
  gap: 1rem;
}

.controls-flex * {
  flex: 1 1 100%;
}

.message {
  font-size: 1.4rem;
}

.form input,
.form label,
.form select {
  font: inherit;
  font-size: 1.4rem;
}

.form label {
  display: block;
  font-weight: 600;
}

.form input,
.form select {
  height: 4rem;
  width: 100%;
}

.form textarea {
  width: 100%;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 1rem;
  width: 100%;
  background: transparent;
  color: #000;
  font-weight: 600;
  box-shadow: 0 0 1px 1px var(--general-color-1);
  transition: all 0.2s;
}

.btn:hover {
  box-shadow: 0 0 2px 1px var(--general-color-1);
}
