.form {
  background-color: #e3fafc;
  padding: 1rem;

  flex: 1 1 40rem;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.controls,
.controls-flex {
  margin-bottom: 2rem;
}

.controls-flex {
  display: flex;
  gap: 1rem;
}

.controls-flex * {
  flex: 1 1 100%;
}

.message {
  font-size: 1.5rem;
}

.form input,
.form label,
.form select {
  font: inherit;
  font-size: 1.6rem;
}

.form label {
  display: block;
  font-weight: 600;
}

.form input,
.form select {
  height: 4rem;
  width: 100%;
}

.form textarea {
  width: 100%;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 1rem;
  width: 100%;
  background-color: #228be6;
  color: #fff;
  font-weight: 600;
}

.btn:hover {
  filter: brightness(120%);
}
