@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
  --backgrounds-primary: #353535; /*rgba(53, 53, 53, 1)*/
  --backgrounds-secondary: #8be8cb;
  --backgrounds-secondary-shade: rgba(139, 232, 203, 0.5);

  --general-color-1: #004643; /*rgba(0, 70, 67, 1)*/
  --general-color-2: #12eaea;
  --general-color-3: #8be8cb;

  --font-color-1: #0c1618; /*rgba(12, 22, 24, 1)*/
  --font-color-2: #fff;
}

html {
  font-size: 62.5%;
  background: rgba(250, 244, 211, 0.4);
}

@media (max-width: 1100px) {
  html {
    font-size: 50%;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  margin-bottom: 10rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--font-color-1);
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.6rem;
}

input,
textarea,
select {
  outline: none;
}
